<style>
    li {
        list-style: none;
        letter-spacing: 3px;
    }

    #chatPrflPhoto {
        width: 35px;
        height: 35px;
    }

    li div {
        display: inline-block;
    }

    #chatUserListItem {}

    .chatUserList li {
        padding: 5px;
        background-color: white;
    }

    .chatUserList li:hover {
        background-color: rgb(230, 230, 230);
    }

    .listItem * {
        justify-items: center;
        justify-content: center;
        vertical-align: middle;
        align-content: center;
        text-align: center;
    }

    .right-aligned {
        position: relative;
        float: right;
    }

    .celled .grid {
        background-color: darkblue;
    }
</style>

<div class="ui celled grid">
    <div class="row">
        <div class="three wide column">
            <h3 class="">UŽIVATELÉ</h3>
            <ul class="chatUserList">
                <li>
                    <div class="listItem">
                        <img id="chatPrflPhoto" src="/public/images/user.png" alt="">
                        <a id="chatUserListItem" href="">LOPLOPT</a>
                    </div>
                </li>
                <li>
                    <div class="listItem">
                        <img id="chatPrflPhoto" src="/public/images/user.png" alt="">
                        <a id="chatUserListItem" href="">ASIDSI</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="thirteen wide column">
            <div class="ui segment">
                <h3>ZPRÁVY</h3>
                <div class="ui comments" style="justify-content: right; width: 100%;">
                    <div class="comment">
                        <a class="avatar">
                            <img src="/public/images/user.png">
                        </a>
                        <div class="content">
                            <a class="author">Matt</a>
                            <div class="metadata">
                                <span class="date">Today at 5:42PM</span>
                            </div>
                            <div class="text">
                                How artistic!
                            </div>
                            <div class="actions">
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment" style="justify-content: right; width: 100%;float: right;">
                        <a class="avatar">
                            <img src="/public/images/user.png">
                        </a>
                        <div class="content">
                            <a class="author">Matt</a>
                            <div class="metadata">
                                <span class="date">Today at 5:42PM</span>
                            </div>
                            <div class="text">
                                How artistic!
                            </div>
                            <div class="actions">
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="listItem">
                    <img id="chatPrflPhoto" src="/public/images/user.png" alt="">
                    <a id="chatUserListItem" href="">
                        <%-user.username%>
                    </a>
                </div>
                <form action="" method="post" class="ui form" style="margin-top: 10px;">
                    <div class="field">
                        <textarea name="textMessage" id="" cols="30" rows="3"></textarea>
                    </div>
                    <div class="field" style="height: 35px;">
                        <button class="ui form button right-aligned" type="submit">Odeslat</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>