<div class="ui segment">

  <div class="ui loginWrapper">
      <h3>PŘIHLÁŠENÍ</h3>
      <div class="ui divider"></div>
    <form action="/login" method="post" class="ui form">
      <div class="field">
        <label for=""> UŽ. JMÉNO </label>
        <input type="text" placeholder="jméno" name="username"/>
      </div>
      <div class="field">
        <label for=""> HESLO </label>
        <input type="password" placeholder="heslo" name="password" />
      </div>

<button class="ui button">Přihlásit</button>
    </form>
  </div>
</div>
