<form action="/register" method="post">
    <input type="text" name="name" id="name">
    <input type="password" name="password" id="password">
    <input type="password" name="password2" id="password">
    <button type="submit">Log in</button>
    </form>