<div class="ui segment">
    <h3>ÚČET</h3>
    <div class="ui container">
        <h3>ÚČET</h3>
       <center> <img class="ui medium bordered image" src="/images/wireframe/white-image.png"></center>
    </div>


</div>