<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <link href="https://fonts.googleapis.com/css2?family=Kufam:wght@500;700&family=Oswald:wght@300;700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/public/semantic/dist/components/reset.css">
  <link rel="stylesheet" type="text/css" href="/public/semantic/dist/components/site.css">
  <link rel="stylesheet" type="text/css" href="/public/semantic/dist/components/grid.css">

  <!--- Component CSS -->
  <link rel="stylesheet" type="text/css" href="/public/semantic/dist/components/icon.css">
  <link rel="stylesheet" type="text/css" href="/public/semantic/dist/components/button.css">
  <link rel="stylesheet" type="text/css" href="/public/semantic/dist/components/card.css">
  <link rel="stylesheet" type="text/css" href="/public/semantic/dist/components/label.css">
  <link rel="stylesheet" type="text/css" href="/public/semantic/dist/components/image.css">
  <link rel="stylesheet" type="text/css" href="/public/semantic/dist/components/reveal.css">
  <link rel="stylesheet" type="text/css" href="/public/semantic/dist/components/dimmer.css">
  <link rel="stylesheet" type="text/css" href="/public/semantic/dist/components/rating.css">
  <link rel="stylesheet" type="text/css" href="/public/semantic/dist/components/transition.css">
  <link rel="stylesheet" type="text/css" href="/public/semantic/dist/components/popup.css">
  <link rel="stylesheet" type="text/css" href="/public/semantic/dist/semantic.min.css" <!--- Component JS -->
  <script src="/public/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/public/semantic/dist/components/popup.js"></script>
  <script type="text/javascript" src="/public/semantic/dist/components/dimmer.js"></script>
  <script type="text/javascript" src="/public/semantic/dist/components/rating.js"></script>
  <script type="text/javascript" src="/public/semantic/dist/components/transition.js"></script>
  <script type="text/javascript" src="/public/semantic/dist/semantic.min.js"></script>
  <link rel="stylesheet" href="/public/css/style.css" /> 
  <script src="/socket.io/socket.io.js"></script>


  <title>PINO</title>
</head>

<body>
  <% if(user) { %>

    <nav>
      <div class="logo">
        <h4>koppino site</h4>
      </div>
      <ul class="nav-links">
        <li>
          <a href="/dashboard"><i class="chart bar icon"></i>PŘEHLED</a>
        </li>
        <li>
          <a href="/chat/"><i class="comments icon"></i>ZPRÁVY</a>
        </li>
        <%if (user.admin) {%>
          <li>
            <a href="/posts/"><i class="file alternate icon"></i>ZÁZNAMY</a>
          </li>
          <li>
            <a href="/person/"><i class="users icon"></i>LIDÉ</a>
          </li>
          <% }%>


            <li>

              <a href="/acc/"><i class="user icon"></i>
                <%-user.username%>
              </a>
            </li>

      </ul>
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>
    <% } %>
      <%- body %>

       <script src="/public/js/app.js"></script>
</body>

</html>