<div class="ui segment container">
    <form action="/acc/change-password" method="POST"class="ui form">
        <div class="fields">
            <div class="field">
                <label for="">
                    nové heslo
                </label>
                <input type="password" class="ui form" placeholder="nové heslo" name="password">
            </div>
            <div class="field">
                <label for="">
                    znovu nové heslo
                </label>
                <input type="password" class="ui form" placeholder="znovu nové heslo" name="password2">
            </div> 
        </div>
        <button type="sender" class="ui button">Změnit</button>
    </form>
</div>