<div class="divider"></div>
<nav id="kokot">
  <ul class="subnav-links">
    <li>
      <a href="/person"><i class="users icon"></i> Přehled</a>
    </li>
    <li>
      <a href="/person/add"><i class="user plus icon"></i> Přidat</a>
    </li>
  </ul>
</nav>
