<div class="divider"></div>
<nav id="kokot">
  <ul class="subnav-links">
    <li>
      <a href="/posts"><i class="file alternate icon"></i> Přehled</a>
    </li>
    <li>
      <a href="/posts/add"><i class="plus icon"></i> Přidat</a>
    </li>
  </ul>
</nav>
